# Billy Cason Assignment 4

In [2]:
#i
import random
numbers=[random.randrange(1,51) for i in range(10)]
numbers

[49, 47, 46, 42, 19, 46, 44, 36, 34, 26]

In [3]:
numbers.append(130) #append allows us to add one item at the end of a list

In [4]:
numbers

[49, 47, 46, 42, 19, 46, 44, 36, 34, 26, 130]

ii) extend(): The extend function allows you to add multiple items to a list-but it must be in list form.

In [5]:
numbers.extend([143,378, 520])
numbers

[49, 47, 46, 42, 19, 46, 44, 36, 34, 26, 130, 143, 378, 520]

iii) insert(): This function allows us to insert a single item at any spot in a list. It is presented as follows-(location, value)

In [6]:
numbers.insert(6,14)

In [7]:
numbers

[49, 47, 46, 42, 19, 46, 14, 44, 36, 34, 26, 130, 143, 378, 520]

iv) remove(): This removes a single value from a list if it occurs with in the list. It does however only remove the first occurance of said value.

In [8]:
numbers.remove(46)

In [9]:
numbers #see that it only removed the first of the two 46 values

[49, 47, 42, 19, 46, 14, 44, 36, 34, 26, 130, 143, 378, 520]

In [10]:
numbers.remove(50) #it through an error because 50 does not occur
numbers

ValueError: list.remove(x): x not in list

v) count(): This returns the amount of times a specific value occurs in a list

In [11]:
numbers1=[random.randrange(1,51) for i in range(10)]

In [12]:
numbers1

[42, 2, 49, 48, 48, 50, 32, 13, 11, 17]

In [13]:
numbers1.append(48)
numbers1

[42, 2, 49, 48, 48, 50, 32, 13, 11, 17, 48]

In [14]:
numbers1.count(48) #this function should return the value 3 because there are 3 48 values in the list

3

vi) index(): This function returns the location (index) of the item within the list. However if it does not exist it simply gives an error.

In [15]:
numbers1.index(17)

9

vii) pop(): This function removes a single from the end of the list.

In [16]:
numbers1.pop()#this ended up removing the 48 from the back of the list
numbers1

[42, 2, 49, 48, 48, 50, 32, 13, 11, 17]

In [17]:
numbers

[49, 47, 42, 19, 46, 14, 44, 36, 34, 26, 130, 143, 378, 520]

In [18]:
numbers.pop()
numbers

[49, 47, 42, 19, 46, 14, 44, 36, 34, 26, 130, 143, 378]

viii) sorted(): This function allows you to sort your list, but use caution. If sort() is used instead of sorted() then your list will be permanently sorted.

In [19]:
y=sorted(numbers1)
y

[2, 11, 13, 17, 32, 42, 48, 48, 49, 50]

ix) copy(): This function allows the user to return a copy of a list that is independant from the original
-This means you can change it without ruining the initial list-

In [20]:
n=numbers1.copy()
n

[42, 2, 49, 48, 48, 50, 32, 13, 11, 17]

In [21]:
n.sort() # I told you not to use sort but I can this time because it won't affect the original
n

[2, 11, 13, 17, 32, 42, 48, 48, 49, 50]

x) clear(): This special function allows the user the ability to erase all of the items in a list

In [22]:
n.clear() #the result is an empty list:(
n

[]

xi) any():The function 'any()' returns a 'True' result if any element in the list is True.

In [23]:
luck=[True,False,True,False]
any(luck)

True

xii) filter():This function creates a list of elements for which a function returns true. It makes more sense to me when said the following way- The filter() function forms a new list that contains only elements that satisfy a certain (created) condition.

We must first create a function to filter our list through. I will do less_ten().

In [25]:
import random
def less_ten(x):
    if x<10:
        return x
numbers_new=[random.randrange(1,20) for i in range(10)]
print (numbers_new)

[13, 16, 16, 14, 5, 2, 12, 8, 10, 4]

In [26]:
print("filter", list(filter(less_ten,numbers_new))) #The newly created list now only includes the numbers <10

filter [5, 2, 8, 4]

xiii) list(): Lists are used to store multiple items in a single variable. These variables of stored data are created using square brackets ex: List=[]

In [28]:
list2=[]
type (list2) #This shows that we have created an empty list

list

xiv) map():This applies a function to all the items in an input_list. The function is typed like so-map(function_to_apply, list_of_inputs). This allows you to process and transform all the items in an iterable without using an explicit for loop.

A better explanation of what I described above is that this function will alter the items within the iterable that don't meet the condition instead of getting rid of them like filter() does. #I will use the same example as filter() above but I will use the map() function on it.

In [29]:
print("map result", list(map(less_ten,numbers_new))) 
#you can see that this generates 'None' in place of the failed items

map result [None, None, None, None, 5, 2, None, 8, None, 4]

# b. Tuples

i) cmp():This function allows you to compare two integers or in this case, data sets.

In [30]:
temp_list=[random.randrange(1,51) for i in range(10)]
temp_list

[3, 2, 37, 33, 26, 18, 8, 9, 13, 32]

In [31]:
tuple_uno=(tuple(temp_list))#This was the first thing I thought of to quickly random generate a tuple set
print (tuple_uno)
print(type(tuple_uno))

(3, 2, 37, 33, 26, 18, 8, 9, 13, 32)
<class 'tuple'>

In [32]:
tuple_2=(8,3,2,37,33,26,18,9,13,32)
print (tuple_2)

(8, 3, 2, 37, 33, 26, 18, 9, 13, 32)

In [38]:

print cmp(tuple_uno, tuple_2)
#I can't seem to get it to work but it is simply meant to return a '1', '0', '-1' depending on 
#whether the first or second tuple is bigger

SyntaxError: invalid syntax (<ipython-input-38-ba11885adf76>, line 1)

ii) len(): This function gives the user a way to quickly calculate the number of items in a storage set.

In [34]:
print (len(tuple_2))#as you can see above there are 10 items in tuple_2

10

iii) max(): This funcion allows you to quickly generate the item with the highest value in a data set.

In [36]:
print (max(tuple_2))

37

iv) tuple(seq): This function allows for a list to quickly be turned into a tuple.

In [39]:
lis1=[1,2,3,4]#I created a list and demonstrated the process needed for this function to make it a tuple
tup1=tuple(lis1)
print (tup1)

(1, 2, 3, 4)